<nav>
	<div class="bg-gray-500 text-white absolute w-[200px] h-[100vh]">
		<ul class="m-4 py-5 ml-6 flex gap-5 flex-col  justify-center ">
			<li class="hover:text-blue-900 ml-10 hover:font-bold "><a href="#">Dashboard</a></li>
			<li class="hover:text-blue-900 ml-10 hover:font-bold "><a href="#">Home</a></li>
            <li class="hover:text-blue-900 ml-10 hover:font-bold "><a href="#">About</a></li>
            <li class="hover:text-blue-900 ml-10 hover:font-bold " ><a href="#" >Services</a></li>
            <li class="hover:text-blue-900 ml-10 hover:font-bold "><a href="#">Contact</a></li>
		</ul>
	</div>
</nav>
